* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.header {
  display: flex;
  justify-content: center;
}
.current__date {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto 1rem;
  padding: 1rem;
}
.current__date span {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}
.calendar {
  width: 80%;
  margin: 0 auto;
  height: 70%;
}
.weekday__name {
}
.calendar__row {
}

.calendar__days {
  margin: 5px;
}
.current__day_highlighter {
  background-color: rgb(0, 61, 146);
  color: #fff;
}
.date__value {
  height: 100px;
  width: 100px;
  background-color: #efdfef;
}
